{% extends "Tasks/layout.html" %}
<!-- 1 Version
    <ul>
        {% for Task in Tasks %}
            <li>{{ Task }}</li>
        {% endfor %}
    </ul>
-->

<!-- Ahora con layout.html incluido -->
    {% block body %}
<!-- 2 Version
        <h1>Tasks:</h1>
        <ul>
            {% for Task in Tasks %}
                <li>{{ Task }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'Tasks:add' %}">Add a New Task</a>
-->
<!-- ["foo", "bar", "baz"] are all Task -->

<!-- 3 Version -->
        <h1>Tasks:</h1>
        <ul>
            {% for Task in Tasks %}
                <li>{{ Task }}</li>
            {% empty %}
                <li>No tasks</li>
            {% endfor %}
        </ul>
        <a href="{% url 'Tasks:add' %}">Add a New Task</a>
    {% endblock %}
